* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff5fc;
}

main {
  margin: 8.5rem 3rem 0 3rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0 0 1rem;
}

:root {
  /* 컬러 */
  --main-color: #ffebfa;
  --point-color: #ffeef6;
  --sub-color: #ffffff;
  --font-color: #aaaaaa;

  /* 폰트 크기 */
  --font-md: 1rem;
  --font-sm: 0.8rem;
}
